body, html {
	font-size:16px;
	letter-spacing: .075em;
}
h1::first-letter,h2::first-letter,h3::first-letter,h4::first-letter,h5::first-letter,h6::first-letter { text-transform: capitalize;}
h1 {
	font-size: 1.375em;

	font-weight: 600;
	letter-spacing: .05em;
	/*text-transform: uppercase;*/
}
h2 {
	font-size: 1.25rem;
	line-height: 1.15rem;
	letter-spacing: .05em;
	font-weight: 600;
	/*text-transform: uppercase;*/
}
h3 {
	font-size: .937em;
	line-height: 1.4rem;
	/*color: grey;*/
	font-weight: normal;
	/*text-transform: uppercase;*/
}

a {text-decoration: none}

a:hover, a .active { color: blue;}

input[type=submit] {
    /* padding: 5px 15px; */
    background: black;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 0;
    border-radius: 0;
    color: white;
}
form > * {
    padding: .5em;
}

.source-serif-font,
.source-serif-font > p {
	font-size: 16px;
	font-family: 'Source Serif Pro', serif;
	text-align: left;
	letter-spacing: 0.03em;
	line-height: 1.3em;
}
.karla-font {
	font-family: 'Karla', sans-serif;
}

.logo-item {
	position: fixed;
	z-index: 9;
	width: 3em;
	height: 3em;
	margin-top: .5em;
}
/*** Menu & Footer ***/
.menu-btn {
	cursor: pointer;
}
.pac-menu {
	position: relative;
	background: white;
	/*margin: .5em 0;*/
	padding: .5em .5em 1.5em 3.5em;
}
.side-menu {
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
}
/*.pac-menu > div {
    padding: .5em 1em .5em 3.5em;
}*/
/*.pac-menu div {
	padding: .5em 1em 1em .5em;
}*/
.child-menu {
	position: absolute;
	display: none;
	border: 1px solid;
	border-width: 0 0 2px 0;
	background: white;
	padding-top: .5em;
	width: 100%;
	left: 0;
	z-index: 10;
	box-sizing: border-box;
}
.sub-child-menu {
	position: absolute;
	/*display: none;*/
	border: 2px solid;
	border-width: 2px 0 0 0;
	background: white;
	padding-top: .5em;
	width: 100%;
	left: 0;
	z-index: 20;
	box-sizing: border-box;
}
.filter-menu {
	/*position: absolute;*/
	/*display: none;*/
	border: 1px solid;
	border-width: 2px 0 0 0;
	background: lightgrey;
	padding-top: .5em;
	width: 100%;
	left: 0;
	/*bottom:0;*/
	bottom: calc(-50% + 2px - 2.6em);
	padding: 1em;
	box-sizing: border-box;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}
.child-menu  .menu-item{
	/*position: relative;*/
	/*z-index: 2;*/
}
.sub-child-menu {
	display: none;
}
/*.child-menu.open.pac-menu {
	border: 1px solid;
	border-width: 0 0 1px 0;
}*/
/*.child-menu,
.sub-child-menu {
	max-height: 0;
	overflow: hidden;
}*/
/*.child-menu.open,
.sub-child-menu.open {
	max-height: 22ex;
}*/
.menu-container {
	position: relative;
	box-sizing: border-box;
}
.main-menu-section {
	background-color: white;
}
.main-menu .menu-item {
	margin-right: 1em;
}
.main-menu .menu-btn {
	border: 2px solid;
}
.main-menu .menu-btn.active,
.main-menu .menu-btn:hover {
	border: 2px solid;
	background: black;
	color: white;
	border-color: black;
} 
.sub-menu-btn:hover,
.sub-menu-btn.active,
.secondary-options .menu-item:hover {
	color: blue;
}

.menu-item a,
.menu-search-item { 
	text-transform: capitalize;
	font-weight: 600;
}

.menu-item a,
.footer-item a {
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
}




.menu-wrapper {
	width: 100%;
	z-index:2;
	background: white;
}

.search-form {
	position: relative;
	z-index: 1;
}
.show-search-btn,
.show-search-btn:before,
.show-search-btn:after {
	width: 2em;
	height: 2em;
}
.show-search-btn p {
	text-indent: -999ex;
}
.show-search-btn::before {
	content: "";
	position: absolute;
	background: url(../images/generales/search-icon.svg) center no-repeat;
	background-size: 70%;
}
.show-search-btn.active::before {
	content: "";
	position: absolute;
	background: url(../images/generales/close-icon.svg) center no-repeat;
	background-size: 70%;
}
.search-form input[type=submit] {
	background:transparent;
	text-transform: uppercase;
	font-size: .8em;
	-webkit-transform: translate(0, .5em);
	transform: translate(0, .5em);
	margin-right: .5em;
}
.search-form input[type="text"] {
    padding: .2em;
    padding: 0.25em;
	line-height: 2em;
	border: 2px solid;
}
.search-form input[type="text"]:focus {
    border-color: #D3D3D3;
	outline: 5px none #D3D3D3;
}


.search-form input[type=submit]:hover {
	text-decoration: underline;
}

.search-form::after {
	content: "";
	position: absolute;
	background:transparent;
	width: 2em;
}
.secondary-menu .menu-item {
	font-weight: 600;
}
.secondary-options {
	margin-left:1em;
}

.footer {
	background-color: white;
	position: relative;
	z-index: 99;
}

.footer nav {
	padding: 1em 5em 2em;
}
.footer-item {
	font-size: .8em;
}
.footer-title {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: .75em;
}
.footer input[type="text"] {
	margin-bottom: 3pt;
}
.footer input[type="text"]:last-child {
	margin-bottom: 0;
}
.footer-abstract { padding-top: 2.75em; }


.category-label {
	font-family: 'Karla', sans-serif;
	color:lightgrey;
	font-size: 0.937em;
	letter-spacing: .05em;
	line-height: 1.35em;
}
.more-btn {
	width: 1em;
	height: 1em;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.square-25-half {
	border: 2px solid;
	border-width: 0 0 2px 0; 
}
.square-25-half .square-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.pac-content-padding {
    padding-bottom: 6em;
    min-height: calc(100vh - 22.55em);
}

.banner-main,
.banner-secondary {
	height: 30vh;
	font-size: 2em;
    font-weight: 500; 
}

.banner-main {
	background: url(../images/gallery/image-0.png) center no-repeat;
	background-size: cover; 
}
.banner-secondary {
	height: 30vh;
	background: grey;
	color: white;
	padding: 0 2em;
    box-sizing: border-box;
	/*background-size: cover; */
}

.square-25 {
	max-width: 300px;
	max-height: 300px;
}
.pac-grid1-container {

}
.pac-grid1-item {
	background-size: contain !important;
	background-position: center;
    background-repeat: no-repeat;
}

.pac-grid1-hidden-text {
	position: relative;
	z-index: 2;
	opacity: 0;
}
.pac-grid1-hidden-text:hover {
	position: relative;
	z-index: 2;
	opacity: 1;
}
.pac-img-grid-text-quote {
	font-size: 1.33em;
}

.square-text-content {
	font-size: 1.25em;
}

.square-text-hidden {
	/*font-size: .75em;*/
}

/*** Icons & images ***/
/*.bb-logo {
	background: url(../images/bb-logo.jpg) top no-repeat;

}*/

.sample-image {
	background-image: url(../images/gallery/image-5.jpg);
}
.sample-image-0 {
	background-image: url(../images/gallery/img-mock-00.png);
}
.sample-image-1 {
	background-image: url(../images/gallery/img-mock-01.png);
}
.sample-image-2 {
	background-image: url(../images/gallery/img-mock-02.png);
}
.sample-image-3 {
	background-image: url(../images/gallery/img-mock-03.png);
}
.sample-image-4 {
	background-image: url(../images/gallery/img-mock-04.png);
}
.sample-image-5 {
	background-image: url(../images/gallery/img-mock-05.png);
}
.sample-image-6 {
	background-image: url(../images/gallery/img-mock-06.png);
}
.sample-image-7 {
	background-image: url(../images/gallery/img-mock-07.png);
}


/*SLIDER*/
.pac-carrousel-section {
	padding-right: 3em;
	padding-left: 3em;
}
.pac-main-column {
	max-width: 60%;
	/*padding-right: 5em;*/
}
.pac-main-column .column-wrapper {
	padding-right: 5em;
}
.slide-image,
.side-content-image {
    background-position: center;
    background-repeat: no-repeat;
}
.slide-image {
    /*width: 100%;*/
    height: 45vh;
    background-size: cover;
}
.side-content-image {
	height: 10em;
	width: 100%;
	background-size: contain;
}
.slide__caption {
	color: grey;
	font-size: .8em;
	
	margin-top: 1em;
}
.pagingInfo {
	font-size: 1.2em;
	font-weight: 600;
}
.fixed-side-section {
	z-index: ;
}
/*SLICK*/
.slick-next {
    right: -48px !important;
}
.slick-prev {
    left: -48px !important;
}
.slick-prev, .slick-next {
    height: 48px !important;
    width: 48px !important;
    margin-top: -24px !important;
}
.slick-prev::before, .slick-next::before {
    font-family: "Poppins", sans-serif !important;
    font-size: 48px !important;
    line-height: 1;
    color: #333 !important;
    opacity: 0.75;
    -moz-osx-font-smoothing: grayscale;
}

.slick-next::before {
    content: "›" !important;
}
.slick-prev::before {
	content: "‹" !important;
}

.grid-number-label {
	font-size: 1.8em;
}
/****************************
MEDIA QUERIES
****************************/

@media (max-width: 1040px) {
	.mobile-column-wrap {
		-webkit-flex-flow: column wrap;
   		flex-flow: column wrap;
	}
	
	.logo-item {
		height: 2em;
	}
	.mobile-menu-btn {
		display: block;
		margin-top: .5em;
		margin-right: .5em;
	}
	.menu {
    	padding-top: 2.75em;
	}
	.main-menu-section {
		background-color: white;
	}
	.main-menu-section-wrapper {
		width: 100%;
	}
	.main-menu .menu-container {
		display: none;
		padding: .5em 2.2em;
	}
	.main-menu .menu-item {
		margin-right: 0;
	}
	.main-menu .menu-btn {
	    border: 2px solid;
	    width: 100%;
	    text-align: center;
	}
	.pac-menu {
		padding: 2.75em 0.5em 0.5em .5em;
	}
	.child-menu{
		position: relative;
	    padding-top: 0.5em;
		max-height: calc(100vh - 6em);
		overflow: scroll;
	}

	.sub-child-menu {
		position: relative;
		display: block;

		/*height: 100%;*/
	}
	.filter-menu {
		display: none;
	}
	.side-menu {
	    -webkit-justify-content: initial;
	    justify-content: initial;
	}
	.side-menu div {
		/*-webkit-align-self: flex-end;
		align-self: flex-end;*/
	}
	.main-menu .menu-item {
		padding-bottom: .25em;
	}
	.show-search-btn {
		position: absolute;
	}
	.search-form,
	.search-form input[type="text"] {
	    width: 100%;
	}
	.secondary-options {
		margin-left: 0;
	}
	.pac-main-column {
	    max-width: 100%;
	    padding-right: 0;
	}
	.pac-side-section {
		padding-bottom: 3em;
	}

}
@media (max-width: 768px) {
	.logo-item {
		position: fixed;
		z-index: 9;
		height: 2em;
	}
	
	.grid {
		justify-content: center;
	}
}

/*** TABLETS ***/
@media (max-width: 414px) {
	
	.main-menu .menu-container {
		padding: 0;
		max-width: 100vw;
	}
	.menu-container > div{
		flex-flow: column wrap;
		flex-direction: column-reverse;
	}
	/*.main-menu .menu-item {
	    width: calc(100% - 5em);
	}*/
	.main-menu-section-wrapper .flex {
		-webkit-align-items: center;
		align-items: center;
	}
	.child-menu.pac-menu {
	    padding: 0em 0.5em 0.5em 1em;
	}
	.child-menu .menu-item a {
		width: 100%;
		text-align: center;
	}
	.side-menu {
		/*-webkit-align-self: flex-end;
		align-self: flex-end;
		-webkit-justify-content: unset;
		justify-content: unset;*/
		-webkit-align-items: center;
		align-items: center;
	}
	.main-menu .menu-item a, .menu-search-item {
	    /*width: calc(100% - 5em);*/
	}
	.main-menu .menu-item {
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
	.main-menu .menu-item .menu-btn {
	    max-width: calc(100% - 5em);
	}
	.main-menu .menu-item a {
		/*width: calc(100% - 5em);*/
		/*display: inline-block;*/
	}
	.menu-search-item {
		width: calc(100% - 5em);
	}
	.search-form input[type="text"] {
	    width: 100%;
	}
	.show-search-btn {
	    /*position: relative;*/
	}
	.secondary-options {
		display: none;
	}
	.footer nav {
	    padding: 1em 1em 2em;
	}
	.footer-item {
		padding-bottom: 2.5em;
	}
	.pac-carrousel-section {
		padding-right: .5em;
		padding-left: .5em;
	}

}